<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrystalDock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrystalDock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrystalDock.Properties.Settings>
            <setting name="AppDockTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AppDockLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PositionLocked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="IconMargins" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SystemMonitorVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SystemMonitorTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SystemMonitorLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SystemMonitorWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="SystemMonitorHeight" serializeAs="String">
                <value>300</value>
            </setting>
        </CrystalDock.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CrystalDock.Properties.Settings>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
        </CrystalDock.Properties.Settings>
    </applicationSettings>
</configuration>